{% extends "basic.html" %}
{% load staticfiles %}

{% block title %} Debug Family Income {% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            {% for key in columns %}

                <th>{{ key }}</th>

            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                {% for key, value in row.items %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
