<nav class="navbar navbar-default navbar-fixed-top navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'proto1_home' %}">
                Affordability Model
            </a>
            <ul class="nav navbar-nav">
                {% if user.is_authenticated and user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal_debug_view">Debug view</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

